{% extends "base.html" %}
{% load django_bootstrap5 i18n %}

{% block title %}
    {% if object %}
        {% trans "Edit Status" %}
    {% else %}
        {% trans "Create Status" %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if object %}
            {% trans "Edit Status" %}
        {% else %}
            {% trans "Create Status" %}
        {% endif %}
    </h1>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% if object %}
            <button type="submit" class="btn btn-primary">{% trans "Изменить" %}</button>
        {% else %}
            <button type="submit" class="btn btn-primary">{% trans "Создать" %}</button>
        {% endif %}
    </form>
{% endblock %}
