{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% if object %}
        {% trans "Редактировать статус" %}
    {% else %}
        {% trans "Создать статус" %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if object %}
            {% trans "Редактировать статус" %}
        {% else %}
            {% trans "Создать статус" %}
        {% endif %}
    </h1>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_name" class="form-label">{% trans "Имя" %}</label>
            <input
                type="text"
                name="name"
                id="id_name"
                class="form-control"
                value="{{ form.name.value|default_if_none:'' }}"
            >
        </div>
        <button type="submit" class="btn btn-primary">
            {% if object %}
                {% trans "Сохранить" %}
            {% else %}
                {% trans "Создать" %}
            {% endif %}
        </button>
    </form>
{% endblock %}
