{# templates/status_form.html #}
{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% if object %}
        {% trans "Изменить статус" %}
    {% else %}
        {% trans "Создать статус" %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if object %}
            {% trans "Изменить статус" %}
        {% else %}
            {% trans "Создать статус" %}
        {% endif %}
    </h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_name" class="form-label">{% trans "Имя" %}</label>
            <input
                type="text"
                name="name"
                id="id_name"
                class="form-control{% if form.name.errors %} is-invalid{% endif %}"
                value="{{ form.name.value|default_if_none:'' }}"
            >
            {% for error in form.name.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">
            {% if object %}
                {% trans "Изменить" %}
            {% else %}
                {% trans "Создать" %}
            {% endif %}
        </button>
    </form>
{% endblock %}
