{% extends "base.html" %}
{% load django_bootstrap5 i18n %}

{% block title %}
    {% trans "Изменение пользователя" %}
{% endblock %}

{% block content %}
    <h1 class="mb-4">{% trans "Изменение пользователя" %}</h1>
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'user_update' request.user.pk %}">
                {% trans "Личные данные" %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'password_change' %}">
                {% trans "Изменить пароль" %}
            </a>
        </li>
    </ul>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">
            {% trans "Сменить пароль" %}
        </button>
    </form>
{% endblock %}
