{% extends "base.html" %}
{% load django_bootstrap5 i18n %}

{% block title %}
    {% if object %}{% trans "Изменение пользователя" %}
    {% else %}{% trans "Регистрация" %}
    {% endif %}
{% endblock %}

{% block content %}
<h1 class="mb-4">
    {% if object %}{% trans "Изменение пользователя" %}
    {% else %}{% trans "Регистрация" %}
    {% endif %}
</h1>

<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">
        {% if object %}{% trans "Изменить" %}
        {% else %}{% trans "Зарегистрировать" %}
        {% endif %}
    </button>
</form>
{% endblock %}
