{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}
    {% if object %}
        {% trans "Edit task" %}
    {% else %}
        {% trans "Create task" %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if object %}
            {% trans "Edit task" %}
        {% else %}
            {% trans "Create task" %}
        {% endif %}
    </h1>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">
            {% if object %}
                {% trans "Edit" %}
            {% else %}
                {% trans "Create" %}
            {% endif %}
        </button>
    </form>
{% endblock %}
